[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/LasirenaShann/lasirenashann.github.io.git
	branch = master
[submodule "lasirenashann.github.io"]
	path = lasirenashann.github.io
	url = https://github.com/LasirenaShann/lasirenashann.github.io.git
	branch = master
[submodule "Public"]
	path = Public
	url = https://github.com/LasirenaShann/lasirenashann.github.io.git
	branch = master
